#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  /* @apply; */
}

.nav {
  @apply bg-slate-200 w-full;
}

.nav-list {
  transition: all .6s linear;
  @apply absolute left-0 w-full bg-slate-600 -z-10;
}

.nav-list li {
  @apply list-none py-2;
}

.hamburger {
  @apply md:hidden ml-2 py-3 size-12 flex flex-col flex-nowrap justify-between;
}

.slice {
  transition: all .3s ease-in;
  @apply w-8 h-1 rounded bg-slate-800 origin-center;
}

.name {
  @apply mt-32 text-3xl text-slate-900 font-semibold;
}

.position-title {
  @apply text-slate-700;
}
