#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.light-box {
  @apply border-2 rounded-md text-prheart-400 border-prheart-400 hover:text-prheart-500 hover:border-prheart-500;
}

.dark-box {
  @apply border-2 rounded-md text-prheart-500 border-prheart-500 hover:text-prheart-600 hover:border-prheart-600;
}

.nav-list {
  transition: all .6s linear;
  @apply absolute left-0 w-full bg-prheart-200 font-medium -z-10;
}

.nav-list li {
  @apply list-none py-2 text-prheart-600;
}

.slice {
  transition: all .3s ease-in;
  @apply w-8 h-1 rounded bg-prheart-600 origin-center;
}

.title {
  @apply mt-32 text-3xl text-prheart-950 font-bold;
}

.card-sm {
  @apply dark-box px-2 py-1 text-sm;
}

.input {
  @apply light-box placeholder:italic placeholder:text-prheart-400 invalid:border-pink-500 invalid:text-pink-600 focus:outline-none bg-transparent px-2 py-1;
}
